/** TEAM'S MEMBERS **/

.cardArgh{
    background: url('https://i.ibb.co/sJ93Thd/67fd06b66887805b1a80a65ff5f4a02b.webp') center center no-repeat;
    background-size: 200px;
  }
  
  .cardArgh:hover{
      background: url('https://i.ibb.co/sJ93Thd/67fd06b66887805b1a80a65ff5f4a02b.webp') left center no-repeat;
      background-size: 300px;
  }
  
  .cardIrvanni{
    background: url('https://i.ibb.co/Z2Pf5t5/4811e077272dea2b364f5bf91ffe01c6.webp') center center no-repeat;
    background-size: 200px;
  }
  
  .cardIrvanni:hover{
      background: url('https://i.ibb.co/Z2Pf5t5/4811e077272dea2b364f5bf91ffe01c6.webp') left center no-repeat;
      background-size: 300px;
  }
  
  
  .cardShishcat{
    background: url('https://i.ibb.co/sPxJDgP/00aa69fdd6845d5c8f4865b336d88eef.webp') center center no-repeat;
    background-size: 200px;
  }
  
  .cardShishcat:hover{
      background: url('https://i.ibb.co/sPxJDgP/00aa69fdd6845d5c8f4865b336d88eef.webp') left center no-repeat;
      background-size: 300px;
  }
  
  .cardAlessandro{
      background: url('https://i.ibb.co/MDH5ScW/d490d32da8899c845a21a7782ddd5172.jpg') center center no-repeat;
      background-size: 200px;
  }
  
  .cardAlessandro:hover{
      background: url('https://i.ibb.co/MDH5ScW/d490d32da8899c845a21a7782ddd5172.jpg') left center no-repeat;
      background-size: 300px;
  }
  
  .cardGiak{
      background: url('imgs/pfpRubi.png') center center no-repeat;
      background-size: 200px;
  }
  
  .cardGiak:hover{
      background: url('imgs/pfpRubi.png') left center no-repeat;
      background-size: 300px;
  }
  
  .cardFanta{
      background: url('https://i.ibb.co/TWDZTYs/47a6913dbb012789d9a00d2f8a9a1976.webp') center center no-repeat;
      background-size: 200px;
  }
  
  .cardFanta:hover{
      background: url('https://i.ibb.co/TWDZTYs/47a6913dbb012789d9a00d2f8a9a1976.webp') left center no-repeat;
      background-size: 300px;
  }
  
  .cardIgnax{
      background: url('https://i.ibb.co/gP30BJH/f9474a719fd8b7c4a3b03226b0cde1b9.webp') center center no-repeat;
      background-size: 200px;
  }
  
  .cardIgnax:hover{
      background: url('https://i.ibb.co/gP30BJH/f9474a719fd8b7c4a3b03226b0cde1b9.webp') left center no-repeat;
      background-size: 300px;
  }
  
  .cardMx{
      background: url('https://i.ibb.co/4RvcfmF/logo-squared.png') center center no-repeat;
      background-size: 200px;
  }
  
  .cardMx:hover{
      background: url('https://i.ibb.co/4RvcfmF/logo-squared.png') left center no-repeat;
      background-size: 300px;
  }
  
  .cardFab{
      background: url('https://i.ibb.co/qkp53ks/d529cbf28748cb0f821e4a81553b8f96.webp') center center no-repeat;
      background-size: 200px;
  }
  
  .cardFab:hover{
      background: url('https://i.ibb.co/qkp53ks/d529cbf28748cb0f821e4a81553b8f96.webp') left center no-repeat;
      background-size: 300px;
  }
  
  .cardRicky{
      background: url('imgs/pfpRubi.png') center center no-repeat;
      background-size: 200px;
  }
  
  .cardRicky:hover{
      background: url('imgs/pfpRubi.png') left center no-repeat;
      background-size: 300px;
  }
  
